<header class="header">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <h5>Angular 2 Inventory APP</h5>
    <fa-icon [icon]="faCoffee"></fa-icon>
    <fa-icon [icon]="faWineBottle"></fa-icon>
</header>
