<div class="">
  <div class="content">
      <div class="header">{{ product.name }}</div>
      <div class="meta">
         <div class="product-sku"> {{ product.sku }} </div>
      </div>
      <div class="description">
      </div>
</div>
